<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.greenrobot.performance.sugarorm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp" >
        <meta-data android:name="DATABASE" android:value="sugarorm.db"/>
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="de.greenrobot.performance.sugarorm"/>
    </application>
</manifest>
